body {
    background-color: #FBFBFB;
    overflow-x: hidden;
    font-family: "Zen Kaku Gothic New", sans-serif;
}
h1, h2, h3, h4 {
    margin: 0;
}
p {
    font-size: 20px;
    letter-spacing: 0.06em;
    line-height: 33px;
    margin: 0;
}
a {
    font-size: 20px;
    letter-spacing: 0.06em;
    line-height: 33px;
    color: #EF5350;
    text-decoration: underline;
    text-decoration-thickness: 6.5%;
    text-underline-offset: 19%;
    margin: 0;
}
header {
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 999;
    transform: translateX(-50%);
    background-color: #EF5350;
    border-radius: 80px;
    margin: 20px auto auto auto;
    padding: 5px 56px 5px 6px;
    width: 55vw;
    min-width: 791px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
}
.header-logo {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #FBFBFB;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-nav {
    flex-grow: 1;
}
.header-nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 50px;
}
.header-nav > ul {
    width: 100%;
    justify-content: space-evenly;
}
.nav-item ul {
    gap: 0;
}
.nav-item.dropdown {
    position: relative;
}
.drop-tag {
    color: #FBFBFB;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    user-select: none;
}
.drop-tag svg {
    transition: transform 0.3s ease;
    margin-top: 6px;
}
.SNS-sp {
    display: none;
}
.nav-item.is-open .drop-tag svg {
    transform: rotate(180deg);
}
.drop-menu {
    position: absolute;
    top: calc(100% + 33px);
    left: 100%;
    transform: translateX(-50%) translateY(-10px);
    background-color: #EF5350;
    border-radius: 10px;
    padding: 0;
    margin: 0;
    list-style: none;
    width: max-content;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    flex-direction: column;
}
.about-head {
    left: 60%;
}
.event-head {
    left: 120%;
}
.apply-head {
    left: 80%;
}
.nav-item.is-open .drop-menu {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0);
}
.drop-menu::before {
    content: '';
    position: absolute;
    top: -6px; 
    left: 20%;
    transform: translateX(-50%) scaleX(0.58) rotate(45deg);
    width: 32px;
    height: 32px;
    background-color: #EF5350;
    border-top-left-radius: 4px; 
    z-index: -1;
}
.drop-menu a {
    display: block;
    padding: 6px 16px;
    color: #FBFBFB;
    text-decoration: none;
    font-size: 16px;
}
.drop-menu li {
    border-bottom: 1px solid rgb(255, 255, 255);
    background-color: #EF5350;
    transition: 0.1s background-color ease;
}
.drop-menu li:hover {
    background-color: #F0968A;
}
.drop-menu li:last-child {
    border-bottom: none;
}
.drop-menu li:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* メニューの一番下の項目に、下の角丸をつける */
.drop-menu li:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.header-SNS {
    display: flex;
    align-items: center;
    gap: 22px;
    margin-left: 20px;
}
.header-SNS a {
    display: flex;
    align-items: center;
}
.content {
    padding: 0 140px;
}
.a-title {
    display: flex;
    align-items: baseline;
    margin-top: 150px;
}
.a-title h1 {
    font-size: 100px;
    font-weight: bold;
    letter-spacing: 0.06em;
}
.a-title h2 {
    margin-left: 45px;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 0.06em;
}
.b-title {
    display: flex;
    align-items: center;
    height: 40px;
    margin: 98px 0 102px;
}
.b-title svg {
    margin-left: -145px;
}
.b-title h1 {
    margin-left: -35px;
    margin-top: 50px;
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 0.06em;
}
.color-wipe span {
    display: inline-block;
    
    /* ↓ 親から引っ越してきた背景の設定 ↓ */
    color: transparent;
    background-image: linear-gradient(to top, black 33.3%, red 33.3%, red 66.6%, black 66.6%);
    background-size: 100% 300%;
    background-position: top;
    -webkit-background-clip: text;
    background-clip: text;
    
    /* 初期状態の角度 */
    transform: rotate(0deg); 
}
/* color-wipeの中のspanタグに対する設定 */
.color-wipe.is-active span {
    animation: wipeAndRotate 1.3s ease-in-out forwards;
}

/* 色の変化と回転を同時に行うアニメーション */
@keyframes wipeAndRotate {
    0% {
        background-position: top; 
        transform: rotate(0deg);   /* 開始時はまっすぐ */
    }
    50% {
        background-position: center; 
        transform: rotate(-10deg);  /* 赤くなりながら10度回転 */
    }
    100% {
        background-position: bottom; 
        transform: rotate(0deg);   /* 黒に戻りながらまっすぐ戻る */
    }
}
@media (max-width: 768px) {
p {
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 26px;
}
a {
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 26px;
    text-decoration-thickness: 6.5%;
    text-underline-offset: 19%;
}
header {
    margin: 15px auto auto auto;
    padding: 8px 24px 8px 6px;
    width: 80vw;
    min-width: 0;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}
.header-container {
    display: flex;
    align-items: center;
    margin:0 auto;
}
.header-logo {
    height: 39px;
    width: 39px;
    flex-shrink: 0;
}
.header-logo svg {
    height: 36.56px;
    width: auto;
}
.header-nav {
    flex-grow: 1;
    width: 100%;
    margin-right: 10px;
    margin-left: 12px;
}
.header-nav ul {
    gap: 9px;
}
.header-nav > ul {
    width: 100%;
    justify-content: space-between; /* これで精一杯等間隔に広がります！ */
}
.drop-tag {
    font-size: 14px;
    gap: 3px;
}
.drop-tag svg {
    margin-top: 6px;
    height: 3.7px;
    width: auto;
}
.SNS-sp {
    display: block;
}
.SNS-sp li {
    padding: 0;
}

.header-SNS svg {
    display: none;
}
.insta-head svg {
    height: 22px;
    width: auto;
    padding: 0;
}
.X-head svg {
    height: 20px;
    width: auto;
    padding: 0;
}
.youtube-head svg {
    height: 19px;
    width: auto;
    padding: 0;
}
.drop-menu {
    top: calc(100% + 30px);
    left: 120%;
    transform: translateX(-50%) translateY(-38px);
    border-radius: 10px;
    padding: 0;
    margin: 0;
    list-style: none;
    width: max-content;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}
.SNS-sp .drop-menu li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; /* 中央揃えにする場合 */
    gap: 8px;
}
.SNS-sp .drop-menu {
    padding: 8px;
}
.header-nav ul.drop-menu {
    gap: 0;
}
.about-head {
    left: 70%;
}
.event-head {
    left: 140%;
}
.apply-head {
    left: 90%;
}
.sp-SNS {
    left: 90%;
}
.nav-item.is-open .drop-menu {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0);
}
.drop-menu::before {
    content: '';
    position: absolute;
    top: -6px; 
    left: 20%;
    transform: translateX(-50%) scaleX(0.58) rotate(45deg);
    width: 20px;
    height: 20px;
    background-color: #EF5350;
    border-top-left-radius: 4px; 
    z-index: -1;
}
.SNS-sp .drop-menu::before {
    left: 30%;
}
.drop-menu a {
    display: block;
    padding: 3px 10px;
    color: #FBFBFB;
    text-decoration: none;
    font-size: 12px;
}
.SNS-sp a {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: auto;
}
.drop-menu li {
    border-bottom: 1px solid rgba(251, 251, 251, 0.4);
}
.drop-menu li:last-child {
    border-bottom: none;
}
.header-SNS {
    display: none;
}
.header-SNS a {
    display: flex;
    align-items: center;
}
.content {
    padding: 0 30px;
}
.a-title {
    margin-top: 112px;
}
.a-title h1 {
    font-size: 50px;
    letter-spacing: 0.03em;
    white-space: nowrap;
}
.a-title h2 {
    margin-left: 8px;
    font-size: 16px;
    letter-spacing: 0.03em;
    white-space: nowrap;
}
.b-title {
    display: flex;
    align-items: center;
    height: 40px;
    margin: 20px 0 40px;
}
.b-title svg {
    height: 137.27px;
    width: auto;
    margin-left: -45px;
}
.b-title h1 {
    margin-left: -39px;
    margin-top: 38px;
    font-size: 18px;
    letter-spacing: 0.03em;
}
}