.step2-section{
    margin-top: 220px;
}
.flow-box {
    border: 5px solid #EF5350; 
    border-radius: 16px;      
    background-color: #fbfbfb; 
    padding: 45px 45px;      
    margin: 40px auto 40px 0;    
    width: 70%;
    box-sizing: border-box;
}
.flow-link {
  display: flex;
  align-items: center; 
  gap: 24px;          
  text-decoration: none;       
  color: #222222;                  
  text-decoration-thickness: auto; 
  text-underline-offset: auto;    
}
.flow-list {
    list-style: none;
    padding: 0;
    margin: 0 0 35px 0; 
    display: flex;
    flex-direction: column;
    gap: 25px; 
}
.flow-item {
    display: flex;
    align-items: center; 
    gap: 24px;        
}
.flow-icon {
    width: auto;
    height: 80px; 
    flex-shrink: 0;
}

.flow-text {
    font-size: 35px;
    color: #222222;
    letter-spacing: 0.05em;
}

.flow-note {
    font-size: 20px; 
    color: #222222;
    letter-spacing: 0.05em;
    line-height: 1.6;
    margin: 0;
    display: flex; 
    align-items: flex-start; 
}

.step-section {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 80px;
    color: #333333;
}
.accent-red {
    color: #EF5350;
    font-size: 40px;
    margin-right: 2px;
}
.target-planning {
    margin-bottom: 80px;
}
.target-title {
    font-size: 20px;
    margin-bottom: 24px;
    letter-spacing: 0.06em;
}
.target-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 16px 40px; 
}
.target-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    background-color: #fbfbfb;
    border: 2px solid #EF5350;
    border-radius: 10px;
    color: #222222;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none; 
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    letter-spacing: 0.05em;
    transition: all 0.3s ease;
}
.target-btn:hover {
    background-color: #EF5350;
    color: #fbfbfb;
    transform: translateY(-2px);
}

.step-box {
    position: relative;
    border: 3px solid #EF5350;
    border-radius: 24px;
    background-color: #fbfbfb;
    padding: 50px 45px 45px;
    margin-top: 40px;
    box-sizing: border-box;
}
.step-box-o {
    position: relative;
    border: 3px solid #FF9169;
    border-radius: 24px;
    background-color: #fbfbfb;
    padding: 50px 45px 45px;
    margin-top: 40px;
    box-sizing: border-box;
}

.step-badge {
    position: absolute;
    top: -24px; 
    left: 40px;
    background-color: #EF5350;
    color: #fbfbfb;
    font-size: 20px;
    padding: 0px 37px 3px 37px;
    border-radius: 16px;
    letter-spacing: 0.05em;
}
.step-badge-o {
    position: absolute;
    top: -24px; 
    left: 35px;
    background-color: #FF9169;
    color: #fbfbfb;
    font-size: 20px;
    padding: 0px 37px 3px 37px;
    border-radius: 16px;
    letter-spacing: 0.05em;
}
.step-badge::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 20px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 7px solid #EF5350;
}
.step-badge-o::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 24px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 7px solid #FF9169;
}
.step-num {
    font-size: 35px;
    margin-left: -3px;
}

.step-main-title {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 24px;
    letter-spacing: 0.06em;
}
.step-desc {
    margin-bottom: 40px !important;
}
.step-desc2 {
    
    display: flex;
    flex-direction: column; 
    gap: 15px;
}
.item {
    border-radius: 8px;
}

.entry-period-row {
    display: inline-flex;  
    align-items: flex-end; 
    width: 100%;           
}
.entry-text-title {
    font-size: 20px;      
    letter-spacing: 0.06em;
    color: #222222;
    white-space: nowrap;      
    padding-bottom: 35px;  
    margin-right: -85px;   
}
.entry-text-title2 {
    font-size: 20px;      
    letter-spacing: 0.06em;
    color: #222222;
    white-space: nowrap;      
    padding-bottom: 23px;  
    margin-right: -170px;   
}
.entry-text-title3 {
    font-size: 20px;      
    letter-spacing: 0.06em;
    color: #222222;
    white-space: nowrap;      
    padding-bottom: 21px;  
    margin-right: -170px;   
}
.entry-text-title4 {
    font-size: 20px;      
    letter-spacing: 0.06em;
    color: #222222;
    white-space: nowrap;      
    padding-bottom: 23px;  
    margin-right: -150px;   
}
.entry-text-title5 {
    font-size: 20px;      
    letter-spacing: 0.06em;
    color: #222222;
    white-space: nowrap;      
    padding-bottom: 21px;  
    margin-right: -130px;   
}
.entry-text-title6 {
    font-size: 20px;      
    letter-spacing: 0.06em;
    color: #222222;
    white-space: nowrap;      
    padding-bottom: 24px;  
    margin-right: -88px;   
}
.entry-svg-image {
    height: auto;    
    display: block;
}
.entry-period-row-sp{
    display: none;
}
.entry-text-title-sp{
    display: none;
}
.entry-svg-image-sp{
    display: none;
}

.notice-text {
    display: flex; 
    align-items: flex-start; 
    margin: 20px 0;
    color: #222222;
}
.notice-mark {
    flex-shrink: 0;
    margin-right: 6px; 
}

.notice-content {
    flex-grow: 1;
}
.notice-link:hover {
    opacity: 0.7;
}
.accent-orange {
    color: #FF9169;
    font-size: 40px;
    margin-right: 2px;
}
.target-planning2 {
    margin-bottom: 80px;
}
.target-title2 {
    font-size: 20px;
    margin-bottom: 24px;
    letter-spacing: 0.06em;
}
.target-grid2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 16px 40px; 
}
.target-btn2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    background-color: #fbfbfb;
    border: 2px solid #FF9169;
    border-radius: 10px;
    color: #222222;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none; 
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    letter-spacing: 0.05em;
    transition: all 0.3s ease;
}
.target-btn2:hover {
    background-color: #FF9169;
    color: #fbfbfb;
    transform: translateY(-2px);
}
@media (min-width: 768px) and (max-width: 1024px) {
    .accent-orange {
    color: #FF9169;
    font-size: 30px;
    margin-right: 2px;
}
    .accent-red {
    color: #EF5350;
    font-size: 30px;
    margin-right: 2px;
}
    .step-main-title {
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 24px;
    letter-spacing: 0.06em;
}
    .flow-box {
    border: 5px solid #EF5350; 
    border-radius: 16px;      
    background-color: #fbfbfb; 
    padding: 45px 45px;      
    margin: 40px auto 40px 0;    
    width: 100%;
    box-sizing: border-box;
}
.flow-text {
    font-size: 25px;
    color: #222222;
    letter-spacing: 0.05em;
}
.flow-note{
    font-size: 16px;
    line-height: 1.5;
}
.target-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 16px 40px; 
}
.target-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    background-color: #fbfbfb;
    border: 2px solid #EF5350;
    border-radius: 10px;
    color: #222222;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none; 
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    letter-spacing: 0.05em;
    transition: all 0.3s ease;
}
.target-grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 16px 40px; 
}
.target-btn2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    background-color: #fbfbfb;
    border: 2px solid #FF9169;
    border-radius: 10px;
    color: #222222;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none; 
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    letter-spacing: 0.05em;
    transition: all 0.3s ease;
}
.entry-text-title-sp{
    display: block;
    font-size: 16px;
}
    .entry-period-row-sp{
        display: block;
        display: flex;
        flex-direction: column;  
        align-items: flex-start; 
        gap: 10px;
    }
    .entry-title-group-sp {
    display: flex;
    align-items: center;   
    gap: 8px;             
}
    .entry-title-group-sp2 {
    display: flex;
    align-items: center;   
    gap: 8px;   
    margin-top: 20px;          
}
    .entry-text-title-sp{
        display: block;
    }
    .entry-svg-image-sp{
        display: block; 
        width: 190px;      
    }
     .entry-svg-image-sp2 {
        display: block; 
        width: 400px;      
    }
      .entry-svg-image-sp3 {
        display: block; 
        width: 90px;      
    }
          .entry-svg-image-sp4 {
        display: block; 
        width: 320px;      
    }
    .entry-svg-image-sp5 {
        display: block; 
        width: 170px;      
    }
    .entry-svg-image{
        display: none;
    }
    .entry-text-title{
        display: none;
    }
    .entry-period-row{
        display: none;
    }
}
@media screen and (max-width: 768px) {
.step2-section{
    margin-top: 100px;
}
.step3-section{
    margin-top: 70px;
}

.flow-box {
    border-width: 3px;    
    border-radius: 12px;
    padding: 20px 16px;  
    margin: 24px auto;
    width: 100%;
}
.flow-list {
    margin-bottom: 24px;
    gap: 16px;
}
.flow-item {
    gap: -8px; 
}
.flow-icon {
    height: 55px; 
}
.flow-text {
    font-size: 18px; 
}
.flow-note{
    font-size: 14px;
    line-height: 1.5;
}
.target-grid {
      grid-template-columns: 1fr; 
      gap: 7px;
  }
  .target-btn {
      font-size: 15px;
      height: 40px;
      border-width: 3px;
  }
  .target-planning {
      margin-bottom: 50px;
  }
.target-grid2 {
      grid-template-columns: 1fr; 
      gap: 7px;
  }
  .target-btn2 {
      font-size: 15px;
      height: 40px;
      border-width: 3px;
  }
  .target-planning2 {
      margin-bottom: 50px;
  }
.step-box {
      border-width: 3px;
      padding: 40px 20px 24px;
      border-radius: 16px;
  }
.step-box-o {
      border-width: 3px;
      padding: 40px 20px 24px;
      border-radius: 16px;
  }
  .step-badge {
      font-size: 18px;
      padding: 4px 16px;
      top: -18px;
      left: 20px;
  }
   .step-badge::after{
    content: "";
    position: absolute;
    bottom: -6px;
    left: 14px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 7px solid #EF5350;
   }
  .step-badge-o {
      font-size: 18px;
      padding: 4px 16px;
      top: -18px;
      left: 20px;
  }
  .step-num {
      font-size: 24px;
  }
  .step-main-title {
      font-size: 18px;
      margin-bottom: 16px;
  }
  .step-desc {
      font-size: 14px;
      line-height: 1.5;
      margin-bottom: 24px !important;
  }
    .step-desc2 {
      font-size: 14px;
      line-height: 1.5;
  }
  .item{
     font-size: 14px;
     line-height: 1.5;
     margin-top: 9px;
  }

  .accent-red {
    color: #EF5350;
    font-size: 32px;
}

  .accent-orange {
    color: #FF9169;
    font-size: 32px;
}
    .entry-period-row-sp{
        display: block;
        display: flex;
        flex-direction: column;  
        align-items: flex-start; 
        gap: 10px;
    }
    .entry-title-group-sp {
    display: flex;
    align-items: center;   
    gap: 8px;             
}
    .entry-title-group-sp2 {
    display: flex;
    align-items: center;   
    gap: 8px;   
    margin-top: 20px;          
}
    .entry-text-title-sp{
        display: block;
    }
    .entry-svg-image-sp{
        display: block;       
        height: auto;
    }
    .entry-svg-image{
        display: none;
    }
    .entry-text-title{
        display: none;
    }
    .entry-period-row{
        display: none;
    }
        .notice-text {
        font-size: 14px;
        line-height: 26px;
        letter-spacing: 0.03em;
    }
    
}