.saisho{
    margin-top: 70px;
    margin-bottom: 50px;
}
.kikaku-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 12px; 
  margin: 0 auto;
  margin-bottom: 200px;
}
.kikaku-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; 
  height: 170px; 
  text-decoration: none;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.kikaku-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: white;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.kikaku-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.kikaku-card:hover::before {
  opacity: 0.3;
}
.kikaku-title {
  color: #fbfbfb;
  font-size: 23px;
  font-weight: 500; 
  letter-spacing: 0.05em; 
  display: flex;
  align-items: center; 
  justify-content: center; 
  gap: 14px; 
}
.sp-br{
  display: none;
}
.yajiruhsi {
  height: 14px; 
  width: auto;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .kikaku-grid {
    grid-template-columns: 1fr; 
  } 

}
@media screen and (max-width: 768px) {
  .saisho{
    margin-top: 40px;
    margin-bottom: 20px;
}
  .kikaku-grid {
    grid-template-columns: 1fr; 
  }  
  .kikaku-card {
    height: 120px; 
    padding: 0 40px;
    box-sizing: border-box;
  }
  .kikaku-title {
    font-size: 13px;
    line-height: 1.6;
    text-align: center; 
    display: block;   
    width: 100%;
  }
  .sp-br {
    display: block;
  }

  .yajiruhsi {
    height: 10px; 
    width: auto;
    position: absolute;
    right: 20px;    
    top: 50%;        
    transform: translateY(-50%); 
  }
}