.zen-kaku-gothic-new-medium {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* メインビジュアル */
.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('../img/okumastage/okumastage.png');
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.hero-overlay-blue{
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}

.overlay-svg{
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.hero-title{
  position: absolute;
  top: 15%;
  left: 10%;
  color: white;
  font-size: 64px;
  font-weight: 500;
}

/* 斜めのオレンジの背景とキャッチコピー */
.hero-overlay-orange{
  position:absolute;
  bottom:0;
  right:0;
  width: 60%;
  height:60%;
}

.overlay-svg{
  width: 100%;
  height: 100%;
}

.hero-catchphrase{
  position: absolute;
  top: 75%;
  right: 8%;
  transform: translateY(-50%);
  color: white;
  text-align: right;
  font-size: 64px;
  font-weight: 500;

  z-index: 10;
}

/* コンテンツレイアウト */
.content-container {
  max-width: 80%;
  margin: 100px auto;
  padding: 0 20px;
}



.info-section {
  margin-bottom: 50px;
}

/* SVGロゴ付きの見出しデザイン */
.section-title {
  display: flex;
  align-items: center;  
  font-size: 35px;
  color: #222222;
  margin-bottom: 30px;
  font-weight:lighter;
  letter-spacing: 6%;
  font-weight: 400;
}

/* 差し込まれたSVGロゴのサイズ・余白調整 */
.title-logo {
  width: 45px;        
  height: auto;
  margin-right: 30px; 
  object-fit: contain;
}

/* 本文テキストのインデント（ロゴの幅に合わせて配置） */
.section-text {
  font-size: 20px;
  color: #222222;
  line-height: 33px;
  letter-spacing: 0.06em;
}

.content-indent {
  margin-left: 20px;
}

/* 日付 */
.datetime-container {
  margin-left: 0;
}

.datetime-row {
  display: flex;
  align-items: center;
}

.date-area {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.date-num {
  margin-top: 5px;
}

.day-v{
  writing-mode: vertical-rl;
  font-size: 18px;
  margin-left: 10px;
  margin-top: 10px;
  letter-spacing: 0.08em;
  font-weight: 500;
}

.day-v-sun{
  writing-mode: vertical-rl;
  font-size: 17px;
  margin-left: 5px;
  margin-top: 10px;
  letter-spacing: 0.08em;
  font-weight: 500;
}

.day-v {
  color: #1B489D;
}

.day-v-sun {
  color: #B02E2D;
}

.time-row {
  display: flex;
}

.time-num {
  margin-top: 5px;
}

.arrow{
  margin: 0 10px;
  margin-top: 33px;
}


/* PDFリスト */
.pdf-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pdf-list li {
  font-size: 20px;
  color: #222222;
  line-height: 33px;
  letter-spacing: 0.06em;
}