.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('../img/streetshort/streetshort.JPG');
  background-size: cover;
  background-position: center;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.4s ease-out;
}